.user-image {
	width: 80px;
}

.description {
	margin-top: 0;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('cover-image.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron h1, h2 {
	color: black;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #2b2b2b;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #000;
	text-decoration: none;
}